name: Flutter Android Build

on:
  push:
      branches: [ main ]

      jobs:
        build:
            runs-on: ubuntu-latest
                steps:
                      - name: Checkout code
                              uses: actions/checkout@v4

                                    - name: Install Java
                                            uses: actions/setup-java@v4
                                                    with:
                                                              distribution: 'zulu'
                                                                        java-version: '17'

                                                                              - name: Install Flutter
                                                                                      uses: subosito/flutter-action@v2
                                                                                              with:
                                                                                                        channel: 'stable'

                                                                                                              - name: Download Pub packages
                                                                                                                      run: flutter pub get

                                                                                                                            - name: Build Debug APK
                                                                                                                                    run: flutter build apk --debug

                                                                                                                                          - name: Save APK
                                                                                                                                                  uses: actions/upload-artifact@v4
                                                                                                                                                          with:
                                                                                                                                                                    name: my-app-apk
                                                                                                                                                                              path: build/app/outputs/flutter-apk/app-debug.apk
                                                                                                                                                                              