name: Build
on:
  push:
      branches: [ main ]
      jobs:
        build:
            runs-on: ubuntu-latest
                steps:
                      - uses: actions/checkout@v4
                            - uses: actions/setup-java@v4
                                    with:
                                              distribution: 'zulu'
                                                        java-version: '17'
                                                              - uses: subosito/flutter-action@v2
                                                                      with:
                                                                                channel: 'stable'
                                                                                      - run: flutter pub get
                                                                                            - name: Build APK with more memory
                                                                                                    env:
                                                                                                              _JAVA_OPTIONS: "-Xmx4g"
                                                                                                                      run: flutter build apk --debug --no-shrink
                                                                                                                            - uses: actions/upload-artifact@v4
                                                                                                                                    with:
                                                                                                                                              name: app-debug
                                                                                                                                                        path: build/app/outputs/flutter-apk/app-debug.apk